{{ template "header" . }}

<main id="content" role="main">

    <div>
        <div>
            <div>
                <h1>{{getConfig "globalVariable.websiteDescription"}}</h1>
            </div>

            <p>
                在我们成长的过程中，脑海中会时刻产生灵感，<br><br>

                大部分人没有把握好灵感，<br>
                【少部分人】能做1次，然后束之高阁，<br>
                极少数人才坚持一直做，重复做，直到拿到结果。<br>
                我希望能帮助这【少部分人】拿到结果。<br><br>

                Auto-updating 项目，把你的灵感变成现实，并且在后台持续更新，自动化运行。
            </p>
        </div>
    </div>

</main>

{{ template "footer" . }}